body{
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#front {
    border-style: dotted;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px 10px 5px;
    width: 250px;
}

table{
    background: azure;
    padding: 20px;

}

#but{
    padding: 4px 4px 4px;
    margin: 0% 20px 0%;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 70px;
}

#but:hover{
    box-shadow: 3px 3px;
    color: chocolate;
}